label(for="name") Name 
input(
    type="text",
    name="name",
<<<<<<< HEAD
    id="name"
)
//- 61a65d281074cc2fa4eac080
    //- value=`${author._id}`
=======
    id="name",
    value=author.name
)
>>>>>>> Finished author routes
