div(class="form-row")
    div(class="form-item")
        label(for="title") Title 
        input(
            type="text",
            name="title",
            id="title"
            value=book.title
        )
    div(class="form-item")
        label(for="author") Author 
        select(name="author", id="author")
            each author in authors  
                if(author.id == book.author)
                    option(selected label=`${author.name}`, value=`${author.id}` )
                else 
                    option(label=`${author.name}`, value=`${author.id}`)
div(class="form-row")
    div(class="form-item")
        label(for="publishDate") Publish date 
        input(
            type="date",
            name="publishDate",
            id="publishDate",
            value=`${book.publishDate == null ? '' : book.publishDate.toISOString().split('T')[0]}`
        )
    div(class="form-item")
        label(for="pageCount") Page count
        input(
            type="number",
            name="pageCount",
            id="pageCount",
            min="1",
            value= book.pageCount
        )
div(class="form-row")
    div(class="form-item form-item-no-grow")
        label(for="cover") Cover 
        input(
            type="file",
            name="cover",
            class="book-cover filepond",
            id="cover"
        )
    div(class="form-item")
        label(for="description") Description
        textarea(
            name="description",
            id="description"
        )= book.description
