extends ../layouts/layout.pug 
block content 
    h2 Search Book
    form(action="/books", method="GET")
        div(class="form-row")
            div(class="form-item")
                label(for="Tilte") Title 
                input(
                    type="text",
                    name="title",
                    id="title",
                    value= searchOptions.title 
                )
        div(class="form-row")
            div(class="form-item") 
                label(for="publishedAfter") Published After 
                input(
                    type="date",
                    name="publishedAfter",
                    id="publishedAfter",
                    value= searchOptions.publishedAfter
                )
            div(class="form-item") 
                label(for="publishedBefore") Published Before 
                input(
                    type="date",
                    name="publishedBefore",
                    id="publishedBefore",
                    value= searchOptions.publishedBefore 
                )
        div(class="form-row form-row-end")
            button(type="submit", class="btn btn-primary") Search
    include ../partials/bookGrid.pug
    +bookGrid(books, false)