extends ../layouts/layout.pug 
block content 
    h2= book.title
    div(class="book-details")
        div 
            img(
                class="book-cover",
                src=`${book.coverImagePath}`
                alt=`${book.title}`,
                title=`${book.title}`
            )
            div(class="book-details-btn-grid")
                a(href=`/books/${book.id}/edit`, class="btn btn-primary") Edit
                include ../partials/deleteForm.pug
                +deleteForm(`/books/${book.id}`)
                a(href=`/authors/${book.author.id}`, class="btn btn-primary book-details-author-button") View Author  
        div(class="book-details-grid")
            div(class="book-details-grid-label") Author : 
            span() #{book.author.name}
            div(class="book-details-grid-label") Publish Date : 
            span() #{book.publishDate.toDateString()}
            div(class="book-details-grid-label") Page Count :  
            span() #{book.pageCount}
            if book.description
                div(class="book-details-grid-label") Description : 
                span() #{book.description}